{% extends 'blog/base.html' %}

{% comment %} Post title in the header of the web browser {% endcomment %}
{% comment %} Название статьи в заголовке веб браузера {% endcomment %}
{% block title %} {{ post.title }} {% endblock title %}

{% block content %}
    {% comment %} Post title{% endcomment %}
    {% comment %} Название статьи{% endcomment %}
    <h2> {{ post.title }} </h2>
    {% comment %} Date and author of the post {% endcomment %}
    {% comment %} Дата и автор статьи {% endcomment %}
    <p class="date">
        Дата публикации: {{ post.date_published }} <br>
        Автор: {{ post.author }} 
    </p>
    {% comment %} Convert post content to HTML with line breaks {% endcomment %}
    {% comment %} Преобразование содержимого статьи в HTML с переносами строк {% endcomment %}
    {{ post.body|linebreaks }}

    {% with comments.count as total_comments %}
        <h2> {{ total_comments }} комментариев {{ total_comments|pluralize }} </h2>
    {% endwith %}
{% endblock content %}
